In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
data = pd.read_csv(r'E:\BI\atta\Python_visulization\practice\Ml algorithms\svm\bangalore house price prediction OHE-data.csv')

In [2]:
data.shape

(7120, 108)

In [3]:
data.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
x = data.drop('price',axis=1)
y = data['price']
print('shape of the x is :',x.shape)
print('shape of the y is :',y.shape)

shape of the x is : (7120, 107)
shape of the y is : (7120,)

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [6]:
print('shape of the x_train is :',x_train.shape)
print('shape of the y_train is :',y_train.shape)
print('shape of the x_test is :',x_test.shape)
print('shape of the y_test is :',y_test.shape)

shape of the x_train is : (5696, 107)
shape of the y_train is : (5696,)
shape of the x_test is : (1424, 107)
shape of the y_test is : (1424,)

# train model with mean absolute error

In [7]:
from sklearn.tree import DecisionTreeRegressor
model_reg_mae = DecisionTreeRegressor(criterion='mae')
model_reg_mae.fit(x_train,y_train)
model_reg_mae.score(x_test,y_test)

0.9800501921980186

# train model with mse error

In [8]:
from sklearn.tree import DecisionTreeRegressor
model_reg_mse = DecisionTreeRegressor(criterion='mse')
model_reg_mse.fit(x_train,y_train)
model_reg_mse.score(x_test,y_test)

0.9764945823746468

# train model with friedman_mse error

In [9]:
from sklearn.tree import DecisionTreeRegressor
model_reg_fmse = DecisionTreeRegressor(criterion='friedman_mse')
model_reg_fmse.fit(x_train,y_train)
model_reg_fmse.score(x_test,y_test)

0.9800446206868287

In [10]:
#now predic unknown value with friedman_mse model
pred = x_test.iloc[0,:]

In [11]:
model_reg_fmse.predict([pred])

array([55.])

In [12]:
y_test.head()

895      55.00
2062     63.50
1543     61.95
6266    125.00
3680     45.00
Name: price, dtype: float64

In [13]:
model_reg_fmse.predict(x_test.head(10))

array([ 55.,  63.,  63., 125.,  45.,  36.,  43.,  35., 477., 111.])

In [14]:
y_test.head(10)

895      55.00
2062     63.50
1543     61.95
6266    125.00
3680     45.00
1528     35.50
6511     41.88
288      35.00
4196    625.00
832     111.00
Name: price, dtype: float64

# predict values using any index

In [15]:
predicted = model_reg_mse.predict([x_test.iloc[70,:]])
actual = y_test.iloc[70]
print('actual value is : ',actual)
print("predicted value is : ",predicted)

actual value is :  12.5
predicted value is :  [11.5]