In [100]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [101]:
data = pd.read_csv(r'E:\BI\atta\Python_visulization\practice\Ml algorithms\Polynomail regration\house_data.csv')

In [102]:
data.shape

(21613, 21)

In [103]:
data.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [104]:
#to classify dependant and independent variabls 
x = data.drop('price',axis = 1)
y = data.price
print('shape of x is : ',x.shape)
print('shape of y is :',y.shape)

shape of x is :  (21613, 20)
shape of y is : (21613,)

In [105]:
#import train test and split module to split data for training and testing
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y ,test_size = 0.2, random_state = 51) 
print('shpar of x train  = ', x_train.shape)
print('shpar of x test  = ', x_test.shape)
print('shpar of y train  = ', y_train.shape)
print('shpar of y test  = ', x_test.shape)

shpar of x train  =  (17290, 20)
shpar of x test  =  (4323, 20)
shpar of y train  =  (17290,)
shpar of y test  =  (4323, 20)

In [107]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [108]:
data.head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650

In [109]:
data_n = data[['bedrooms','bathrooms','sqft_lot','yr_built','price']]
data_n.head()

   bedrooms  bathrooms  sqft_lot  yr_built     price
0         3       1.00      5650      1955  221900.0
1         3       2.25      7242      1951  538000.0
2         2       1.00     10000      1933  180000.0
3         4       3.00      5000      1965  604000.0
4         3       2.00      8080      1987  510000.0

In [110]:
data_c = data_n.fillna(data_n.mean())

In [111]:
# to specify data for independen and independent for model
x = data_c.drop("price",axis=1)
y = data_c['price']
print('shape of the x = :',x.shape)
print('shape of the y = :',y.shape)

shape of the x = : (21613, 4)
shape of the y = : (21613,)

In [112]:
#train and split data for train and testing
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2,random_state = 51)
print('shape of the x_train = :',x_train.shape)
print('shape of the x_test = :',x_test.shape)
print('shape of the y_train = :',y_train.shape)
print('shape of the y_test = :',y_test.shape)

shape of the x_train = : (17290, 4)
shape of the x_test = : (4323, 4)
shape of the y_train = : (17290,)
shape of the y_test = : (4323,)

In [113]:
# import standerscaler module and train it
sc = StandardScaler()

In [124]:
#train model
sc.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [126]:
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [128]:
#find the mean and std of the train data manually
#mean = sc.mean_
#std = sc.scale_
#print('mean of the train data', mean)
#print('stander deviation of the data = ',std)
#describe all the data and compare the above mean and actule mean both are same
#x_train.describe().round(2)
#to transform all the actule data scale to train & test data of the independant feature
#x_train_sc = sc.transform(x_train)
#x_test_sc = sc.transform(x_test)
#print(x_train_sc)
#creat data fram for of the above scaled data
#x_train_sc = pd.DataFrame(x_train_sc,columns=['bedrooms','bathrooms','sqft_lot','yr_built'])
#x_test_sc = pd.DataFrame(x_test_sc,columns=['bedrooms','bathrooms','sqft_lot','yr_built'])
#x_train_sc.head()
#x_train_sc.describe().round(2)

In [130]:
model = LinearRegression()

In [141]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [145]:
predict=model.predict(x_test)
#plot train model valuabse
#plt.scatter(x_train,y_train)
#plt.plot(x_test,model.predict(x_test))
#plt.bar(data['Experience'],data['Salary'])

In [153]:
model.predict(x_test)

array([-1.18092650e+08, -4.69204687e+07, -1.39802095e+08, ...,
       -8.45318598e+07, -9.00903796e+07, -8.16372140e+07])