In [1]:
import numpy as np
import pandas as pd

In [2]:
#load builtind data
from sklearn.datasets import load_breast_cancer
data = load_breast_cancer()

In [3]:
data = pd.read_csv(r'E:\BI\atta\Python_visulization\practice\Ml algorithms\svm\bangalore house price prediction OHE-data.csv')

In [4]:
data.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#split data into x and y for axis
x = data.drop('price',axis=1)
y = data['price']
print('shape of the x is :',x.shape)
print('shape of the y is :',y.shape)

shape of the x is : (7120, 107)
shape of the y is : (7120,)

In [6]:
#split data for traing and test 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)
print('shape of the x_train is :',x_train.shape)
print('shape of the y_trai is :',y_train.shape)
print('shape of the x_test is :',x_test.shape)
print('shape of the y_test is :',y_test.shape)

shape of the x_train is : (5696, 107)
shape of the y_trai is : (5696,)
shape of the x_test is : (1424, 107)
shape of the y_test is : (1424,)

In [7]:
#import and train RFR model 
from sklearn.ensemble import RandomForestRegressor
RFR_model = RandomForestRegressor(n_estimators=500,criterion='mse')
RFR_model.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=500,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [8]:
RFR_model.score(x_test,y_test)

0.9624308120346141

In [14]:
predicted = RFR_model.predict([x_test.iloc[-20,:]])
actual = y_test.iloc[-20]
print('actual value is : ',actual)
print("predicted value is : ",predicted)

actual value is :  93.0
predicted value is :  [94.05076]

In [16]:
RFR_model.predict(x_test.head(10))

array([ 34.15564,  71.03416,  40.2766 , 102.62608,  51.90802, 267.78   ,
        62.02272,  52.03344,  44.61716,  17.62372])

In [18]:
y_test.head(10)

6701     33.99
6748     71.00
2008     39.90
6494    103.00
2955     52.00
5382    268.00
5915     62.00
4015     52.00
2824     44.55
7065     18.00
Name: price, dtype: float64

In [21]:
#now i want to save my model
import pickle

In [20]:
pickle.dump(RFR_model, open('My_first_model','wb'))

In [24]:
def find_max(nums):
    max_num = float("-inf") # smaller than all other numbers
    for num in nums:
        if num > max_num:
# (Fill in the missing line here)
    return max_num

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)